<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script type="text/javascript">
        function HttpGetAsync(url, callback){
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function(){
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
                    callback(xmlHttp.responseText);
                }
            }
            xmlHttp.open("GET", url, true);
            xmlHttp.send(null);
        }

    </script>
</head>
<body>
<div id="my_element">
    Hello world
</div>
</body>
</html>